extends ../layout

include ../shared/popup

block content

  table.table.table-hover#friendsTable(data-uid=uid)
    thead
      tr
        th(scope='col') Id
        th(scope='col') Name
        th(scope='col') Birthday
    tbody

block outer
  +modal('showUserPageSelectorModal')
    +userPageSelectorModal()

block scripts
  script(src='/scripts/user/friends.js')
