extends ../layout

include ../shared/popup

block content

  table.table.table-hover#usersTable
    thead
      tr
        th(scope='col') Id
        th(scope='col') Image
        th(scope='col') Name
        th(scope='col') E-mail
        th(scope='col') Birthday
    tbody

block outer
  +popup('showImageModal')

block scripts
  script(src='/scripts/user/index.js')
