extends ../layout

include ../shared/popup

block content

  table.table.table-hover#usersTable
    thead
      tr
        th(scope='col') Id
        th(scope='col') Image
        th(scope='col') Name
        th(scope='col') E-mail
        th(scope='col') Birthday
        th(scope='col') Status
    tbody

block outer
  +modal('showImageModal')
    +userImageModal()
  +modal('showUserInfoModal')
    +userInfoModal()


block scripts
  script(src='/scripts/user/index.js')
