extends layout

block content
  if errorTitle
    h1(id='error-title')= errorTitle
  else
    h1(id='error-title') 500
  if errorMessage
    h2(id='error-message')= errorMessage
  else
    h2(id='error-message') Internal error
  if errorStack
    pre(id='error-stack')= errorStack

block scripts