doctype html
html(lang='en')
  head
    title Social network
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
    link(rel='stylesheet', href='/styles/style.css')
  body
    div(class='container')
      if errorTitle
        h1(id='error-title')= errorTitle
      else
        h1(id='error-title') 500
      if errorMessage
        h2(id='error-message')= errorMessage
      else
        h2(id='error-message') Internal error
      if errorStack
        pre(id='error-stack')= errorStack
    div
      script(type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js")
      script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")