doctype html
html(lang='en')
  head
    title Social network
    link(rel='stylesheet', href='/styles/style.css')
    block header
  body
    block outer
    div(class='header')
      a(href='/')
        i(class='fa-solid fa-house')
        span Home
    div(class='container')
      block content
    block scripts
      script(type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js")
